@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    border: none;
} 

h1, h2, h3, h4 {
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

select {
    appearance: none;
}

.header {
    position: relative;

    padding-bottom: 24px;

    text-align: center;

    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner-bg.jpg);    
    background-color: #6bd1e5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header_container {
    position: relative;
}

.header::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 100%;
    width: 100%;
    
    background: rgba(0, 0, 0, 0.6);
    content: '';
}


.nav_tab {
    display: flex;
    padding-top: 28px;
    padding-left: 2.5px;

    justify-content: space-between;
}

.logo {
    width: 180px;
}

.nav_list{
    display: flex;

    padding-top: 13px;
    
    font-family: OpenSans ,"Arial", sans-serif ;
    font-size: 13px;
    text-transform: uppercase;
}

.menu_item:nth-child(n+2){
    margin-left: 35px;
}

.menu_link:hover {
    text-decoration: underline;
}

.header_title {
    max-width: 699px;
    margin: 101px auto;
    
    font-size: 45px;
    line-height: 1.666em;
    font-family: OpenSans ,"Arial", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
    
}

/* попап */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: OpenSans ,"Arial", sans-serif ;
    background: rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
}

.popup-close{
    position: relative;
    background-image: url(../svg/form-x.svg);
    width: 17px;
    height: 20px;
    top: -68px;
    left: 104.2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    cursor: pointer;
}

.feedback-form {
    position: absolute;
    display: flex;
    top: 25.4%;
    flex-direction: column;
    max-width: 329px;
    padding: 45px 30px 50px;
    background: #ffffff;
    font-size: 13px;
}

.popup-title {
    margin-bottom: 33px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

.popup-title::after {
    position: relative;
    left: 40%;
    top: 10px;
    display: block;
    width: 66px;
    height: 3px;
    content: '';
    background: #e1d9bd;
}

.input-frequency {
    margin-bottom: 30px;
}

.input-frequency-title {
    display: block;
    margin-bottom: 9px;
    
}
.input-frequency-select {
    display: block;
    width: 100%;
    padding: 15px 15px 15px 18px;
    background-color: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-position: 96% 50%;
    background-size: 10px;
    background-repeat: no-repeat;
}

.feedback-field-focus:focus {
    outline: 1px solid #b9a464;
}

.feedback-field-color {
    color: #a9a9a9;
    font-family: OpenSans ,"Arial", sans-serif;
}

.subscribe-check {
    margin-bottom: 27px;
}

.subscribe-check-legend {
    margin-bottom: 7px;
}

.first-check-label {
    margin-right: 12px;
}

.subscribe-check-text::before {
    content: "" ;
    display: inline-block;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    vertical-align: middle;

}

.subscribe-check-btn {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px
}
    


.subscribe-check-btn:checked ~ .subscribe-check-text::before {
    background-image: url(../svg/form-circle.svg);
}

.offer-content {
    margin-bottom: 26px;
}

.offer-content-input {
    display: block;
    margin-top: 6px;
    box-sizing: border-box;
    padding: 16px 20px;
    width: 100%;
    height: 131px;
    background-color: #f4f7f6;
    resize: none;
}

.submit-btn {
    padding: 15px 10px;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background: #b59f5b;
}

.submit-btn:hover {
    background: #323232;
    
}


/* сейчас в трендах */
.now-trendy {
    font-family: OpenSans ,"Arial", sans-serif;
    font-weight: bold;
}

.trendy-header {
    text-align: center;
    padding-top: 57px;
    padding-bottom: 36px;
    text-transform: uppercase;
}

.trendy-title {
    margin: 0 auto;
    font-size: 20px;
}

.trendy-title::after {
    position: relative;
    left: 48%;
    top: 10px;
    display: block;
    width: 66px;
    height: 3px;
    content: '';
    background: #e1d9bd;
}

.trendy-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    min-height: 320px;
}

.trendy-article {
    position: relative;
    display: flex;
    align-items: end;
    padding: 20px  21px 16px ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.garden-article {
    background-image: url(../images/trend1.jpg);
}

.cheese-article {
    background-image: url(../images/trend2.jpg);
}

.hiking-article {
    background-image: url(../images/trend3.jpg);
}

.lemonade-article {
    background-image: url(../images/trend4.jpg);
}

.trendy-article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    
}

.article-content {
    position: relative;
    width: 100%;
    border: 3px solid #837143;
    padding: 39px 31px 32px;
}

.trendy-article_title {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
}



/* Стили основного контента */

.main_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    padding-top: 64px;
    font-family: OpenSans ,"Arial", sans-serif ;
    font-weight: bold;
}

.main_section {
    max-width: 778px; 
    
}


.main_article {
    display: flex;
    margin-bottom: 54px;
}

.main_article:last-child {
    margin-bottom: 0px;
 }

.article_cover {
    margin-right: 30px;
    width: 381px;
}

.cover_img {
    background-color: rgb(171, 223, 223);
    width: 381px;
}

.text_block {
    max-width: 367px;
}

.themes {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: -3px;
    margin-bottom: 6px;

    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    

}

.article_theme {
    margin-right: 20px;
}

.article_theme:hover {
    text-decoration: underline;
}

.article_title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
    
    

}

.article_title:hover {
    color: #b59f5b;
}

.article_info {
    margin-bottom: 45px;
    font-size: 12px;
    color: #888888;
    
}

.article_info_yoga {
    margin-bottom: 48px;
}

.article_time {
    margin-right: 9px;
    font-weight: normal;
}

.article_author {
    color: #000000;
}

.article_text {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.46666666667em;
}

.yoga_article {
    margin-bottom: 55px;
}

.article_text_margin {
    margin-bottom: 10px;
}

.music_article {
    margin-bottom: 56px;
}

.cooking_article {
    margin-bottom: 57px;
}

.pillow_article {
    margin-bottom: 55px;
}

.mountain_article {
    margin-bottom: 55px;
}



/* стили блока aside */
.main_aside {
    max-width: 272px;
    padding: 0 1px;
}

.new_posts {
    padding-left: 2px;
    margin-bottom: 60px;
    font-size: 14px;
    text-transform: uppercase;
    

}

.aside_title{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.new_posts_title {
    position: relative;
    top: -5px;
    left: 4px;
    margin-bottom: 34px;
    
    
}

.aside_title::after {
    position: relative;
    left: 102px;
    top: 10px;
    display: block;
    width: 66px;
    height: 3px;

    content: '';
    background: #e1d9bd;
    
    
}

.posts_article {
    display: flex;
    margin-bottom: 22px;
}

.post_time {
    display: block;
    margin-top: -4px;
    margin-bottom: 3px;

    font-size: 12px;
    text-transform: none;
    font-weight: 400;
    color: #a9a9a9;
    
    
}

.post_img {
    margin-right: 20px;
    max-width: 70px;
    font-size: 11px;
    background-color: rgb(171, 223, 223);
    
}

.post_title {
    line-height: 18px;
    
}

.post_title:hover  {
    color: #b59f5b;
    
}

.search {
    margin-bottom: 57px;
}

.search_form{
    display: flex;
}

.search_form:focus-within {
    outline: 1px solid #b59f5b;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field {
    box-sizing: border-box;
    padding: 14px 15px 16px 19px;
    border: none;

    
    font-size: 13px;
    font-family: inherit;
    color: #9b9c9c;
    background-color: #f4f7f6;
}

.search_field {
    width: 224px;
}

.field:focus {
    outline: 1px solid #b59f5b;

}

.btn {
    height: 48px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    

}

.btn:hover {
    background-color: #323232;
}

.search_btn {
    width: 48px;
    
    background-image: url(../svg/search.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsletter {
    margin-bottom: 56px;
    padding-left: 2px;
}

.newsletter_title {
    margin-bottom: 33px;
    margin-left: -3px;
}

.newsletter_field {
    width: 100%;
    margin-bottom: 18px;
}

.letter_btn {
    width: 100%;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    color: #ffffff;
}

.tags {
    margin-bottom: 41px;
    padding-left: 2px;
}

.tags_title {
    margin-bottom: 41px;
    padding-left: 4px;
}

.tags_list {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
    
}

.tags_item {
    margin-right: 5px;
    margin-bottom: 20px;
}

.tags_link {
    border: 3px solid #eeeeee;
    padding: 4px 13px;
    
}

.tags_link:hover {
    border: 3px solid #b59f5b;
}

.themes_menu_title {
    margin-bottom: 29px;
    padding-left: 7px;
}

.themes_list {
    font-size: 14px;
    padding-left: 3px;
}

.themes_item {
    margin-bottom: 9px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 13px;
    
}

.themes_link:hover {
    color: #b59f5b;
}

.themes_toptext {
    margin-left: 4px;
    vertical-align: super;
    color: #b59f5b;
}

/* стили блока товаров */

.our-products {
    padding: 0 38px;
    margin-bottom: 89px;
    font-family: OpenSans, arial, sans-serif;
}

.our-products-title {
    text-align: center;
    margin-bottom: 37px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.our-products-title:after {
    position: relative;
    left: 47%;
    top: 10px;
    display: block;
    width: 66px;
    height: 3px;
    content: '';
    background: #e1d9bd;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-card {
    display: flex;
    max-width: 27%;
    flex-direction: column;
}
.card-content {
    flex-grow: 1;
    padding: 27px 0 4px 0;
    outline: 3px solid #d3c59d;
    margin-top: -10px;
    outline-offset: 21px;
}

.card-title {
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-text {
    font-size: 15px;
    margin-bottom: 24px;
    line-height: 22px;
}

.card-link {
    color: #b59f5b;
}

.card-link:hover {
    text-decoration: underline;
}

.price-btn-block {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.card-prices {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    font-weight: bold;
}

.card-old-price {
    text-decoration: line-through;
    margin-bottom: -7px;
}

.card-price {
    font-size: 20px;
}

.price-btn {
    padding: 18px 30px;
    font-size: inherit;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}



/* стили футера */

.footer {
    padding-bottom: 40px;
    
}

.social_links {
    margin-bottom: 71px;
}

.social_links_list {
    display: flex;
    padding: 31px 0 32px;
    justify-content: center;
    background-color: #f4f7f6;
    
}

.social_icon {
    margin-right: 11px;
    margin-left: 17px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.icon_dribble  {
    background-image: url(../svg/001-dribbble.svg);
}

.social_link {
    display: block;
    width: 20px;
    height: 20px;
}

.icon_pinterest  {
    background-image: url(../svg/001-pinterest.svg);
}

.icon_tumblr  {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    font-family: OpenSans ,"Arial", sans-serif ;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #999999;
    
}

.copyright_link {
    padding-left: 10px;
}